<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registrar servicio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre servicio" formControlName="nombreServicio">
            <mat-error *ngIf="addressForm.controls['nombreServicio'].hasError('nombreServicio')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Valor Servicio" formControlName="valorServicio">
            <mat-error *ngIf="addressForm.controls['valorServicio'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
     
      <div class="row">
        <div class="col">
          <mat-radio-group formControlName="Estado">
            <mat-radio-button value="activo">ACTIVO</mat-radio-button>
            <mat-radio-button value="inactivo">INACTIVO</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
