<form [formGroup]="repForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registro repuestos </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo repuesto" formControlName="tipoRep">
              <mat-option *ngFor="let tipoRep of tipoReps" [value]="tipoRep.abbreviation">
                {{ tipoRep.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="repForm.controls['tipoRep'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Marca repuesto" formControlName="marcaRep">
              <mat-option *ngFor="let marcaRep of marcaReps" [value]="marcaRep.abbreviation">
                {{marcaRep.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="repForm.controls['marcaRep'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>
      <div class="row">

        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Capacidad repuesto" formControlName="capRep">
              <mat-option *ngFor="let capRep of capReps" [value]="capRep.abbreviation">
                {{capRep.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="repForm.controls['capRep'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Valor reouesto" formControlName="valorRep">
            <mat-error *ngIf="repForm.controls['valorRep'].hasError('required')">
             <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Stock repuesto" formControlName="stockRep"></textarea>
            <mat-error *ngIf="repForm.controls['stockRep'].hasError('required')">
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>   
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
